{% extends "bootstrap/base.html" %}
{% block title %}Environment Manager{% endblock %}
{% block content %}
   <head></head>
     <h3>
         <a href = "{{ url_for('show_all') }}">Environment Manager</a>
      </h3>

    <form action = "{{ request.path }}" method = "post">
         <input type = "submit" value = "Show Cloud Environments" />
    </form>
     <form action = "/connected" method = "post">
         <input type = "submit" value = "Show Connected Environments" />
    </form>
   <body>

   </body>
{% endblock %}